#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 0.3;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }

  #form #numForm {
    border-radius: 10%;
    border-radius: 4%;
    padding: 15px 12px;
    font-size: 16px;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.4);
  }

  #form.result {
    display: flex;
    padding: 1vw 2vw;
    outline: none;
    border: none;
    border-radius: 10%;
    box-shadow: 6px 18px 10px rgba(0, 0, 0, 0.4);
  }

  .timer {
    font-family: var(--mono);
    color: var(--primary);
    font-size: 1rem;
  }

  button {
    border-radius: 10%;
    border-radius: 4%;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
    padding: 9px 12px;
    font-size: 16px;
    background-color: var(--primary);
    color: black;
    border: none;
    cursor: pointer;
  }
}
